<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restoran nomi</title>
</head>
<body>

<!-- header section -->
    <header id="Xeader_section" class="Xeader_sectiom">
        <div class="header_item">
            <h1>Restoran nomi</h1>
        </div>
        <div class="welcome_text">
            <p>Bizni tanlab adashmadingiz</p>
            <p>100% kafolatlangan taomlar</p>
            <p>va ajoyib zamonzvbiy xizmat</p>
            <p>faqat siz uchun</p>
        </div>
        <div class="header_item">
            <h1>Profile</h1>
        </div>
    </header>
<!-- /header section -->

<!--Restoran photos carusel section-->
    <section class="photo_carusel_top" id="photo_carusel_top">
        <div class="carusel_div">
            <div class="track_bar_top">
                <img src="" alt="foto">
                <img src="" alt="foto">
                <img src="" alt="foto">
                <img src="" alt="foto">
                <img src="" alt="foto">
                <img src="" alt="foto">
                <img src="" alt="foto">
                <img src="" alt="foto">
            </div>
        </div>
    </section>
<!--/Restoran photos carusel section-->


<!-- Xizmatlar menusi section -->
    <section id="Xizmatlar_menu" class="Xizmatlar_menu">
        <a href="{% url 'food_category' %}">
            <div class="Xizmatlar">
                <div>
                    <img src="" alt="foto">
                </div>
                <h3>Taom buyurtma qilish</h3>
                <p>info</p>
            </div>
        </a>
        <a href="{% url 'about' %}">
            <div class="Xizmatlar">
                <div>
                    <img src="" alt="foto">
                </div>
                <h3>Biz haqimizda</h3>
                <p>info</p>
            </div>
        </a>
        <a href="">
            <div class="Xizmatlar">
                <div>
                    <img src="" alt="foto">
                </div>
                <h3>Joy band qilish</h3>
                <p>info</p>
            </div>
        </a>
        <a href="">
            <div class="Xizmatlar">
                <div>
                    <img src="" alt="foto">
                </div>
                <h3>Uyga taom buyurtma qilish</h3>
                <p>info</p>
            </div>
        </a>
    </section>
<!-- Xizmatlar menusi section -->


<!-- Biz xaqimizda izohlar -->
    <section class="comment_users" id="comment_users">
        <div class="comment_card">
            <h1>biz haqimizda izohlar</h1>
        </div>
    </section>
<!-- /Biz xaqimizda izohlar -->


<!--Restoran photos carusel section-->
    <section class="photo_carusel_bottom" id="photo_carusel_bottom">
        <div class="carusel_div">
            <div class="track_bar_bottom">
                <img src="" alt="foto">
                <img src="" alt="foto">
                <img src="" alt="foto">
                <img src="" alt="foto">
                <img src="" alt="foto">
                <img src="" alt="foto">
                <img src="" alt="foto">
                <img src="" alt="foto">
            </div>
        </div>
    </section>
<!--/Restoran photos carusel section-->

<!--Footer section-->
    <footer class="footer">
        <div class="footer_left">
            <h4>Restoran Nomi</h4>
            <a href="">Restoran Manzili</a>
            <h4>+998 9X XXX XX XX</h4>
        </div>
        <div class="footer_center">
            <div class="restoran_media">
                <h4>instagram,telagram,admin</h4>
            </div>
            <p>© 2026 Restoran Nomi. Sayt barcha foydalanuvchilar uchun ochiq.</p>
        </div>
        <div class="footer_right">
            <h4>Ish vaqti: 24/7</h4>
            <h4>restoran_name@gmail.com</h4>
            <h4>Halq xizmatida</h4>
        </div>
    </footer>
<!--/Footer section-->
</body>
</html>